<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="text-align:center">

      <table>
        <tbody>
          <tr>
            <td class="tour-day-number"><h5>巴黎一日游</h5></td>
            <td class="tour-day-text">
              <div class="bubble-corner"></div>
              <div class="bubble-text">
                <div class="column fivecol">
                  <div class="featured-image"><img src="./巴黎自助游游 巴黎一日游 巴黎拼车 租车 法国 导游 旅行社 地接 自驾游 自由行 景点门票 购物 莫奈花园 凡尔赛 卢浮宫 巴黎圣母院 枫丹白露 巴黎铁塔 塞纳河游船 旅游  _files/image_17.jpg" alt="" class="fullwidth">
                  </div>
                </div>
                <div class="column sevencol last">
                  <h4>巴黎市内自助游景点：</h4>
                  <h5 align="left">1.巴黎圣母院2.红磨坊夜总会3.凯旋门4.大小皇宫5.卢浮宫6.香榭丽舍大街7.老佛爷百货8.奥赛博物馆9.波旁宫(国民议会) 10.法兰西荣誉军团博物馆11.荣军院12.艾菲尔铁塔13.法国广播电台14.夏乐宫15.协和广场(方尖碑)16.巴黎市政厅17.巴黎古监狱18.立法大楼19蓬皮杜国家文化艺术中心</h5>
                </div>
                <div class="clear"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="tour-day-number"><h5>巴黎周边一日游</h5></td>
            <td class="tour-day-text">
              <div class="bubble-corner"></div>
              <div class="bubble-text">
                <div class="column fivecol">
                  <div class="featured-image">
                    <img src="./巴黎自助游游 巴黎一日游 巴黎拼车 租车 法国 导游 旅行社 地接 自驾游 自由行 景点门票 购物 莫奈花园 凡尔赛 卢浮宫 巴黎圣母院 枫丹白露 巴黎铁塔 塞纳河游船 旅游  _files/image_15.jpg" alt="" class="fullwidth">
                  </div>
                </div>
                <div class="column sevencol last">
                  <h4>巴黎周边景点：</h4>
                  <h5>1.凡尔赛皇家宫殿。2.枫丹白露皇家宫殿。3.莫奈花园（莫奈故居）</h5>
                  <h4></h4>
                </div>
                <div class="clear"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="tour-day-number"><h5>夜游巴黎</h5></td>
            <td class="tour-day-text">
              <div class="bubble-corner"></div>
              <div class="bubble-text">
                <div class="column fivecol">
                  <div class="featured-image">
                    <img src="./巴黎自助游游 巴黎一日游 巴黎拼车 租车 法国 导游 旅行社 地接 自驾游 自由行 景点门票 购物 莫奈花园 凡尔赛 卢浮宫 巴黎圣母院 枫丹白露 巴黎铁塔 塞纳河游船 旅游  _files/image_15.jpg" alt="" class="fullwidth">
                  </div>
                </div>
                <div class="column sevencol last">
                  <h4>夜游巴黎景点:</h4>
                  <h5>1.埃菲尔铁塔。2.凯旋门和香榭丽舍大街。3.路易山大三世桥（黄金桥）4.塞纳河游船（船票价格20欧）5.协和广场夜景6.蒙帕纳斯大厦（巴黎最高建筑俯瞰整个巴黎）ps:夜游巴黎为以上任选3个景点。</h5>
                  <h4></h4>
                </div>
                <div class="clear"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="tour-day-number"><h5>红磨坊激情夜总会</h5></td>
            <td class="tour-day-text">
              <div class="bubble-corner"></div>
              <div class="bubble-text">
                <div class="column fivecol">
                  <div class="featured-image">
                    <img src="./巴黎自助游游 巴黎一日游 巴黎拼车 租车 法国 导游 旅行社 地接 自驾游 自由行 景点门票 购物 莫奈花园 凡尔赛 卢浮宫 巴黎圣母院 枫丹白露 巴黎铁塔 塞纳河游船 旅游  _files/image_15.jpg" alt="" class="fullwidth">
                  </div>
                </div>
                <div class="column sevencol last"><h4>红磨坊夜总会:</h4>
                  <h5>红磨坊夜总会项目价格包含酒店接送，门票价格</h5>
                </div>
                <div class="clear"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="sixcol column last">
    <table>
      <thead><tr><td><h4>巴黎市内一日游</h4></td><td></td><td><h4>方式.</h4></td><td><h4>价格</h4></td>
      </tr></thead>
      <tbody>
        <tr><td rowspan="2">
          <ul><li><h4>含9小时工作时间</h4></li>
            <li><h4>含市内停车费</h4></li>
            <li><h4>不包含司机午餐</h4></li>
            <li><h4>不包含景点门票</h4></li>
          </ul></td>
          <td><h4>单人</h4></td>
          <td><h4>拼车</h4></td>
          <td><h4>80欧/人(2人发团）</h4></td>
        </tr>
        <tr><td><h4>多人</h4></td>
          <td><h4>包车</h4></td>
          <td><h4>7座220欧/天（9座240欧/天）</h4></td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <table>
      <thead><tr><td><h4>夜游巴黎</h4></td><td><h4>&nbsp;人数</h4></td><td><h4>方式</h4></td><td><h4>价格</h4></td></tr></thead>
      <tbody>
        <tr><td rowspan="2">
          <ul><li><h4>&nbsp;含4小时工作时间</h4></li>
            <li><h4>&nbsp;市内含停车费</h4></li>
            <li><h4>&nbsp;不含景点门票</h4></li>
          </ul></td>
          <td><h4>2人</h4></td>
          <td><h4>拼团</h4></td>
          <td><h4>40欧/人(2人发团）</h4></td>
        </tr>
        <tr><td><h4>3-8人</h4></td>
          <td><h4>包车</h4></td>
          <td><h4>110欧/7座，150欧/9座</h4></td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead><tr><td><h4>巴黎周边一日游</h4></td><td>&nbsp;人数</td><td><h4>方式.</h4></td><td><h4>价格</h4></td></tr></thead>
      <tbody>
        <tr><td rowspan="2">
          <ul><li><h4>含9小时工作时间</h4></li>
            <li><h4>市内含停车费</h4></li>
            <li><h4>不包含司机午餐</h4></li>
            <li><h4>不包含景点门票</h4></li>
          </ul></td>
          <td><h4>2人</h4></td>
          <td><h4>拼团</h4></td>
          <td><h4>80欧/人/天</h4></td>
        </tr>
        <tr><td><h4>3-8人</h4></td>
          <td><h4>包车</h4></td>
          <td><h4>7座240欧/天（9座260欧/天）</h4></td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <table>
      <thead><tr><td><h4>&nbsp;红磨坊激情夜总会</h4></td><td><h4>&nbsp;人数</h4></td><td><h4>不含餐</h4></td><td><h4>含餐</h4></td></tr></thead>
      <tbody>
        <tr><td rowspan="2">
          <ul><li><h4>含酒店接送</h4></li>
            <li><h4>含红磨坊门票</h4></li>
            <li><h4>含市内停车费</h4></li>
            <li><h4>司机等待费</h4></li>
          </ul></td>
          <td><h4>1人</h4></td>
          <td><h4>120欧/人</h4></td>
          <td><h4>150欧/人</h4></td>
        </tr>
        <tr><td><h4>2-8人</h4></td>
          <td><h4>110欧/人</h4></td>
          <td><h4>140欧/人</h4></td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>

</body>
</html>