@charset "utf-8";
/* CSS Document */

/***********************CSS RESET*********************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,   
form,fieldset,input,textarea,p,blockquote,th,td {   
    padding: 0;   
    margin: 0;  
}   
table {   
    border-collapse: collapse;   
    border-spacing: 0;   
}   
fieldset,img {   
    border: 0;   
}   
address,caption,cite,code,dfn,em,strong,th,var {   
    font-weight: normal;   
    font-style: normal;   
}   
ol,ul {   
    list-style: none;   
}   
caption,th {   
    text-align: left;   
}   
h1,h2,h3,h4,h5,h6 {   
    font-weight: normal;   
    font-size: 100%;   
}   
q:before,q:after {   
    content:'';   
}   
abbr,acronym { 
	border: 0;   
}  
/***********************CSS OVERRIDE*********************/
.bg{
	
	
	
}

body{
	background: #041623;
	background-repeat:no-repeat; 
	background-position:center 50px;
	
	margin:0;
	padding:0;
    font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
}




h1{
	color:#FFF;
	line-height:90px;
	margin:0 90px;
	font-family:"微软雅黑","幼圆"Arial, sans-serif;
	font-size:48px;
	font-weight:500;
}
p{
	color:#FFF;
}
#bg_image{
	width: 100%;
	height: auto;
	position:fixed;
	margin-top:0px;  
	text-align: center;
	opacity: 0.5;
}

.info h1{
	position:relative;
	color:#FFF;
	line-height:70px;
	top: 80px;
	left:300px;
	font-family: "微软雅黑","幼圆"Arial, sans-serif;
	font-size:30px;
	font-weight:500;
	 z-index:0;
}
.info span	{ 
	color: #1999D7; 
	font-size:30px;
}
h1 { 
	font-size: 48px;
	letter-spacing: -1px;
	color: white;
	margin: 0 0 15px 0; 
	}

.header h1{
	color:#FFF;
	line-height:0px;
	margin:0 90px;
	font-family: "微软雅黑","幼圆"Arial, sans-serif;
	font-size:35px;
	font-weight:500;
}
.header .home{
	position:absolute;
	top:5px;
	left:200px;
	font-family: "微软雅黑","幼圆"Arial, sans-serif;
	font-size:35px;
	font-weight:500;
}
.header h1 div{
	color:#FFF;
	line-height:70px;
	margin:0 90px;
	font-family: "微软雅黑","幼圆"Arial, sans-serif;
	font-size:30px;
	font-weight:500;
}

.bigboxgrid h3{
	margin: 10px 10px 0 10px; 
	color:#FFF; 
	font-family:"微软雅黑","幼圆",Arial, sans-serif;
	font-size:28px;
	letter-spacing:5px; 
	font-weight: 300;
	cursor:pointer;

}

.boxgrid h3{
	margin: 10px 10px 0 10px; 
	color:#FFF; 
	font-family:"微软雅黑","幼圆",Arial, sans-serif;
	font-size:32px;
	letter-spacing:5px; 
	font-weight: 300;
	cursor:pointer;

}

a:link,a:visited {
	color:#FFF;
	text-decoration:none;
}

a:hover,a:active {
	color:#FACC2E;
}

/***********************Framework*********************/
.wrapper{
	width:100%;
	margin:0 auto;
	height:auto;
}

.header{
	position: fixed;
	top:0;
    display: block;
	background-color:#8F2145; 
	width:100%;
	margin:0 auto;
	height:60px;	
	-webkit-box-shadow: #8F2145 0 0 30px;
    -moz-box-shadow: #8F2145 0 0 30px;
	-o-box-shadow: #8F2145 0 0 30px;
	z-index:5;

}


.container{
	position:relative;
	top: 50px;
	width:100%;
	margin-left: auto;
    margin-right: auto;
	height:auto;
	min-height:500px;
	
}
.container_index{
	position:relative;
	margin-top:50px;
	width:1000px;
	margin-left: auto;
    margin-right: auto;
	height:auto;
	min-height:500px;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	-o-transform:scale(0.8);
}

.container_index:hover{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
}

.container.small{
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	-o-transform:scale(0.8);
}

.clear{
	clear:both;
}

.footer{
	background-color:#8F2145; 
	width:100%;
	height:0px;
}


/**********************BOXES*********************/
.boxgridSet{
	position: relative;
	bottom: 100px;
}
.box{
	width:300px; 
	height:260px; 
	margin:12px; 
	float:left; 
	background:#8F2145; 
	overflow: hidden;
	position: relative; 
	cursor:pointer;
	
}
		
.boxgrid{ 
	width:300px; 
	height:260px;
	background:#1999D7; 
	overflow: hidden; 
	position: relative;
	cursor:pointer;
	

}

#bigbox{
	position:fixed;
    left:20px;
    top:100px;
	width:160px; 
	height:450px; 
	margin:12px; 
	float:left; 
	background:#8F2145; 
	
	
	cursor:pointer;

}
#bigbox h3:hover{
	background:#FF9000;
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
}
		
.bigboxgrid{ 
	width:160px; 
	height:450px;
	background:#8F2145; 
	overflow: hidden; 
	position: relative;
	cursor:pointer;
}

.boxgrid img{
	position: absolute; 
	border: 0; 
}
.boxgrid h3 img{
	position: absolute; 
	right: 0; 
}
	
.boxgrid p{
	padding: 0 10px; 
	color:#FFF; 
	font-weight:bold; 
	font:10pt "Lucida Grande", Arial, sans-serif; 
}
	
.boxcaption{ 
	float: left; 
	position: absolute; 
	background: #000; 
	height: 100px; 
	width: 100%; 
	opacity: .7; 
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.captionfull .boxcaption {
	top: 260;
	left: 0;
}
.caption .boxcaption {
	top: 220;
	left: 0;
}

.title{
	padding:5px;
}
.content{
	background-color:#1999D7;
	width: 100%;
	height: 90%;
}
input:focus{
	 transition:border linear .2s,box-shadow linear .5s;
	 -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
	 -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
	 outline:none;border-color:rgba(241,39,242,.75);
	 box-shadow:0 0 8px rgba(241,39,232,.5);
	 -moz-box-shadow:0 0 8px rgba(241,39,232,.5);
	 -webkit-box-shadow:0 0 8px rgba(241,39,232,3);
}

.search{
	width:200px;
	height:50px;
	margin:30px;
}

.news{
	float:right;
}

.search input{
	height:30px;
	width:240px;
	margin:10px auto;
	line-height:30px;
	font:24px "微软雅黑","幼圆",Arial, sans-serif; 
}

.search label{
	line-height:30px;
	font:26px "微软雅黑","幼圆",Arial, sans-serif;
	color:#FFF;
}


.right{
	background:#FCD208;
	margin:10px;
	float:right;
	width:300px;
	height:545px;
}

#target{
	width:200px;
	height:200px;
	margin:30px 50px;
}

#coffee{
	width:200px;
	height:200px;
	margin:50px;
}

#me{
	width:90px;
	height:90px;
	margin:0 10px;
}

#coffee:hover,#target:hover{
	cursor:pointer;
}

#start{
	position:absolute;
	top:5px;
	right:80px;
	color:#FFF;
	font-family: Arial, sans-serif;
	font-size:32px;
	font-weight:500;
	cursor:pointer;
	display:none;
}

#start :hover{
	background:#FF9000;
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
}

#start.click{
	position:absolute;
	top:7px;
	right:78px;
	-webkit-transform:scale(0.95);
	-moz-transform:scale(0.95);
	-o-transform:scale(0.95);
}

#startMenu{
	position:fixed;
	top:0px;
	left:350px;
	background-color:#8F2145; 
	width:1000px;
	height:50px;
	z-index:5;
	/*display:none;*/
}


#startMenu ul{
	background:#8F2145;
	width:1000px;
	list-style:none
}

#startMenu li{
	display:inline;
	height:50px;
	line-height:60px;
	/*vertical-align:middle;*/
	padding:10px 10px;
	color:#FFF;
	font-family:"微软雅黑","幼圆",Arial, sans-serif;
	font-size:20px;
	font-weight:500;
	text-align:left;
	cursor:pointer;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

#startMenu li:hover{
	background:#FF9000;
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
}

#startMenu img{
	width:45px;
	height:45px;
	margin:-15px 10px;
	cursor:pointer;
}

#abs{
	position:fixed;
    right:20px;
    top:100px;
	width:160px; 
	height:450px; 
	margin:12px; 
	float:left; 
	background:#8F2145; 
	overflow: hidden;
	
	cursor:pointer;

}

table{
	color:#fff;
}
